amb-db:
  environment:
    POSTGRES_PASSWORD: bigdata
    POSTGRES_USER: ambari
  labels:
    io.rancher.container.pull_image: always
  command:
  - postgres
  hostname: amb-db
  image: postgres
  volumes:
  - /data/ambari-server/pgsql/data:/var/lib/postgresql/data
amb-agent:
  dns_search:
  - service.consul
  - node.dc1.consul
  labels:
    io.rancher.scheduler.global: 'true'
    io.rancher.container.pull_image: always
  dns:
  - 10.42.180.89
  command:
  - systemd.setenv=CLOUD_PLATFORM=RANCHER
  image: cloudchchen/ambari-agent
  privileged: true
  volumes:
  - /hadoop:/hadoop
  - /var/lib/nvidia-docker/volumes/nvidia_driver/361.45.18:/usr/local/nvidia:ro
amb-server:
  ports:
  - 8080:8080/tcp
  dns_search:
  - service.consul
  - node.dc1.consul
  labels:
    io.rancher.container.pull_image: always
  dns:
  - 10.42.180.89
  command:
  - systemd.setenv=CLOUD_PLATFORM=RANCHER
  - systemd.setenv=POSTGRES_DB=amb-db
  image: cloudchchen/ambari-server
  links:
  - amb-db:amb-db
  privileged: true

